<div class="main-container">
  <div class="header">
    <h1><%= @meal.name %></h1>
  </div>

  <div>
    <div class="meal-rating">
      <h4>1 serving of this meal results in the emission of</h4>
      <h2><%= @meal.emission_total %> kg</h2>
      <h4>of CO2 into the atmosphere approximately</h4>
    </div>

    <h2>annual equivalents...</h2>

    <table class="travel-equivalents">
      <tr>
        <th><p>Frequency</p></th>
        <th><p>Car</p></th>
        <th><p>Train</p></th>
        <th><p>Domestic Flight</p></th>
        <th><p>Sh. Haul Flight</p></th>
        <th><p>L. Haul Flight</p></th>
      </tr>
      <% i=0 %>
      <% frequencies = ["1/month", "1/week", "3/week", "1/day", "every meal"] %>
      <% [12, 52, 156, 365, 1095].each do |frequency| %>
        <tr>
          <td><p><%= frequencies[i] %></p></td>
          <td><p><%= (@car_km * frequency).to_i %></p></td>
          <td><p><%= (@train_km * frequency).to_i %></p></td>
          <td><p><%= (@domestic_flight_km * frequency).to_i %></p></td>
          <td><p><%= (@short_flight_km * frequency).to_i %></p></td>
          <td><p><%= (@long_flight_km * frequency).to_i %></p></td>
        </tr>
      <% i+=1 %>
      <% end %>
    </table>

    <h2>by ingredient...</h2>

    <table class="">
      <tr>
        <th><p>Ingredient</p></th>
        <th><p>Description</p></th>
        <th><p>Emissions*</p></th>
      </tr>
      <% @meal.ingredients.each do |ingredient| %>
        <tr>
          <td><p><%= Food.find(ingredient.food_id).name %></p></td>
          <td><p><%= ingredient.description %></p></td>
          <td><p><%= Food.find(ingredient.food_id).emission_rate %></p> </td>
        </tr>
      <% end %>
    </table>
    <p>* = kg of CO2 emitted per kg of ingredient produced</p>
  </div>

  <%= link_to "Add an ingredient", new_meal_ingredient_path(@meal) %>
</div>
